@(resultPage: edu.knowitall.vulcan.evidence.query.QueryResultPage)

@**
 * Formats a page of QueryResult objects into a html display showing,
 *  - The total number of results
 *  - A list of all result tuples, along with the sentences they came from
 *  - A link to a call to load more results if this page is "full"
 *@

<p>Found @resultPage.queryTotal matching tuples</p>

@if(resultPage.results.size > 0) {
  <ul style="padding: 0">
  @for(result <- resultPage.results) {
    <li style="padding-left: 0px; margin-bottom: 10px; margin-left: 1px ">
      <ul style="padding-left: 15px">
        <li style="padding-left: 0px"> 
          @result.extraction.tuple.arg1.text / 
          @result.extraction.tuple.rel.text / 
          @result.extraction.tuple.arg2s.map(term => term.text).mkString(" ")
        </li>
        <li style="padding-left: 10px" class="small"> 
          <span class="label">from</span>@result.extraction.corpus
          <span class="label">sentence:</span> @result.extraction.sentence  
        </li>
      </ul>
    </li>
  }
  </ul>
  
  @if(resultPage.results.size == controllers.WebQueryHandler.PAGE_SIZE) {
    <div class="right" style="margin-bottom:50px; padding-bottom:50px">
      <a class="uvlink" href="#" onclick="queryNext()">More Results</a>
    </div>
  }
} 

